*{
    margin: 0;
    padding: 0;
}
.fundo{
    background: radial-gradient(circle, rgb(0, 255, 247), rgb(89, 98, 97)); /* Degradê do ciano ao cinza */
    height: 180vh;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.campos, .buttons {
    margin-bottom: 10px;
}
input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.buttons button {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #ddd;
}
#resultado {
    font-size: 24px;
    margin-bottom: 10px;
}
.boto{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(187, 255, 253);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-decoration: none;
    margin-top: auto;
}
.boto:hover{
    background-color: rgb(64, 255, 0);
    transition: 0.7s;
}
.textos {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}
.manchete {
    border-bottom: 2px solid #007BFF;
    padding: 10px 0;
    margin-bottom: 20px;
}
.artigo {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px; /*espaçamento entre os artigos */
    padding: 15px;
    background-color: white;
}
h1 {
    font-size: 2em;
    margin: 0;
}
h2 {
    font-size: 1.5em;
    margin-top: 20px; /* Espaçamento acima do título do artigo */
    margin-bottom: 10px; /* Espaçamento abaixo do título do artigo */
}
p {
    line-height: 1.6;
}