*{
    margin: 0;
    padding: 0;
}
.fundo{
    background: radial-gradient(circle, rgb(255, 255, 0), rgb(0, 255, 255)); /* Degradê do amarelo ao ciano */
    height: 100vh;
    color: rgb(6, 104, 44);
    font-family: Arial, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.campos, .buttons {
    margin-bottom: 10px;
}
input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.buttons button {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #ddd;
}
#resultado {
    font-size: 24px;
    margin-bottom: 10px;
}
.boto{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(1, 34, 15);
    color: white;
    text-decoration: none;
}
.boto:hover{
    background-color: rgb(24, 89, 3);
}